body {
    background: black;
}

.menu-title {
    margin: auto;
    width: 30%;
}

canvas {
    background-image: url('img/background5.jpg');
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    font-size: 100px;
    font-color: black;
}
